<div class="flex justify-content-center align-items-center min-h-screen">
  <div [ngSwitch]="step">
    <div *ngSwitchCase="0">
      <div class="flex justify-content-center align-items-center min-h-screen">
        <div
          class="flex justify-content-center align-items-center min-h-screen"
        >
          <p-card header="Nueva contraseña" styleClass="p-4">
            <form
              class="card mt-4 flex flex-column gap-4"
              [formGroup]="resetForm"
              (ngSubmit)="onSubmit()"
            >
              <span class="p-float-label">
                <input
                  id="float-input-invalid"
                  type="password"
                  pInputText
                  formControlName="newPassword"
                  class="w-full"
                  [ngClass]="{
                    'ng-dirty': resetForm.get('newPassword')?.touched,
                    'ng-invalid':
                      resetForm.get('newPassword')?.touched &&
                      resetForm.get('newPassword')?.invalid,
                    'ng-valid':
                      resetForm.get('email')?.touched &&
                      resetForm.get('email')?.valid
                  }"
                />
                <label for="float-input-invalid">Nueva Contraseña</label>
              </span>
              <div
                *ngIf="
                  resetForm.get('newPassword')?.invalid &&
                  (resetForm.get('newPassword')?.dirty ||
                    resetForm.get('newPassword')?.touched)
                "
                class="p-error"
              >
                Contraseña actual es requerida.
              </div>
              <span class="p-float-label">
                <input
                  id="float-input-invalid-2"
                  type="password"
                  pInputText
                  formControlName="confirmPassword"
                  class="w-full"
                  [ngClass]="{
                    'ng-dirty': resetForm.get('confirmPassword')?.touched,
                    'ng-invalid':
                      resetForm.get('confirmPassword')?.touched &&
                      resetForm.get('confirmPassword')?.invalid
                  }"
                />
                <label for="float-input-invalid">Confirmar contraseña</label>
              </span>
              <small
                *ngIf="
                  resetForm.get('confirmPassword')?.invalid &&
                  (resetForm.get('confirmPassword')?.dirty ||
                    resetForm.get('confirmPassword')?.touched)
                "
                class="p-error"
              >La confirmación de la contraseña no coincide.
              </small>
              <button
                type="submit"
                pButton
                pRipple
                label="Cambiar Contraseña"
                [disabled]="resetForm.invalid"
              ></button>
            </form>
          </p-card>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="1">
      <div class="flex justify-content-center align-items-center h-screen">
        <p-card styleClass="p-4">
          <div class="flex w-full justify-content-center">
            <img
              src="../../../../assets/img/giphy-check.gif"
              alt="Check"
              width="150"
            />
          </div>
          <h2>Restablecimiento de contraseña</h2>
          <p class="text-black-alpha-30">
            Su contraseña ha sido restablecida con éxito.
          </p>
          <p class="text-black-alpha-30">
            Haga click a continuación para iniciar sesión mágicamente.
          </p>
          <button
            pButton
            pRipple
            class="w-full"
            (click)="rootAppService.redirectLogin()"
            label="Ir a Inicio de Sesión"
          ></button>
        </p-card>
      </div>
    </div>
    <div *ngSwitchCase="2">
      <p-card styleClass="py-2 px-6">
        <div class="flex flex-column justify-content-center align-items-center">
          <div class="flex w-full justify-content-center">
            <img
              class="error-page__header-image"
              src="../../../../assets/img/giphy-404.gif"
              alt="Erro 404"
              width="150"
            />
          </div>
          <h1 class="m-0">Hubó un error</h1>
          <p>
            Por favor intenteló mas tarde.
          </p>
          <button
            type="submit"
            pButton
            pRipple
            class="w-full"
            (click)="rootAppService.redirectForgetPassword()"
            label="Reenviar correo"
          ></button>
        </div>
      </p-card>

    </div>
  </div>
</div>
