<div
  class="block bg-bluegray-300 text-primary font-bold text-center p-4 border-round mb-3"
>
  <p-card  styleClass="p-2 w-full" class="w-3">
    <form
      class="card mt-4 flex flex-column gap-2 w-full"
      [formGroup]="passwordForm"
      (ngSubmit)="saveFormPassword()"
    >
      <label>Contraseña actual</label>
      <input
        id="float-input-invalid"
        type="password"
        pInputText
        formControlName="currentPassword"
        class="w-full"
      />

      <label>Contraseña nueva</label>
      <p-password
        weakLabel="Debil"
        mediumLabel="Medio"
        strongLabel="Fuerte"
        inputStyleClass="w-full"
        styleClass="w-full"
        class="w-full"
        formControlName="newPassword"
      >
        <ng-template pTemplate="header">
          <h6>Elige una contraseña</h6>
        </ng-template>
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <p class="mt-2">Sugerencias</p>
          
        </ng-template>
      </p-password>

      <label>Confirmar contraseña</label>
      <p-password
        weakLabel="Debil"
        mediumLabel="Medio"
        strongLabel="Fuerte"
        inputStyleClass="w-full"
        styleClass="w-full"
        class="w-full"
        formControlName="confirmPassword"
      >
        <ng-template pTemplate="header">
          <h6>Elige una contraseña</h6>
        </ng-template>
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <p class="mt-2">Sugerencias</p>
          
        </ng-template>
      </p-password>

      <button
        type="submit"
        label="Guardar"
        class="mt-4"
        pButton
        pRipple
        [disabled]="passwordForm.invalid"
      ></button>
    </form>
  </p-card>
</div>
