<div class="flex justify-content-center align-items-center min-h-screen ">
  <p-card header="¿Olvido su Contraseña?" styleClass="p-4">
    
    <p class="m-0 text-black-alpha-30">No te preocupes, te enviaremos las instrucciones para recuperarla.</p>
    <form class="card mt-4 flex flex-column gap-3" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <span class="p-float-label">
        <input id="float-input-invalid" type="text" pInputText formControlName="email" class="w-full" [ngClass]="{
          'ng-dirty': resetForm.get('email')?.touched,
          'ng-invalid': resetForm.get('email')?.touched && resetForm.get('email')?.invalid,
          'ng-valid': resetForm.get('email')?.touched && resetForm.get('email')?.valid
        }">
        <label for="float-input-invalid">Correo electrónico</label>
      </span>
      <div class="p-error" *ngIf="resetForm.get('email')?.touched && resetForm.get('email')?.errors?.['required']">
        El correo electrónico es requerido.
      </div>
      <div class="p-error" *ngIf="resetForm.get('email')?.touched && resetForm.get('email')?.errors?.['email']">
        Ingresa un correo electrónico válido.
      </div>

      <button type="submit" pButton pRipple label="Enviar Instrucciones" [disabled]="resetForm.invalid"></button>
    </form>
  </p-card>

</div>
