<p-card [header]="header" class="w-full h-screen">
  <div class="grid">
    <p-card
      *ngFor="let item of Namefiles"
      class="w-4 border-round-md col-4"
      [ngClass]="
        item.label.split('-').includes(currentAcademicPeriod) ||
        item.label.split('-').length === 1
          ? ''
          : 'hidden'
      "
    >
      <ng-template pTemplate="header">
        <p
          class="font-bold text-xl h-4rem m-0 text-center text-600 p-3 border-round-md"
        >
          {{ item.label }}
        </p>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="flex justify-items-between w-full gap-1">
          <p-button
            (click)="item.document()"
            class="w-6 flex-grow-1"
            styleClass="w-full"
            label="Descargar"
          ></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</p-card>
