<!-- <p-card [header]="header" class="w-full h-screen bg-red-500">
  <div class="flex flex-wrap align-items-center justify-content-center gap-1">
    <p-card *ngFor="let item of Namefiles" class="w-5 mx-2 my-2 shadow-2">
      <ng-template pTemplate="header" class="bg-red-500 w-full">
      </ng-template>

      <ng-template pTemplate="footer">
        <div class="flex align-items-center">
          <p-button
            [label]="item.label"
            class="w-full"
            styleClass="w-full"
          ></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</p-card> -->


<!-- <pdf-viewer [src]="createPdf()">

</pdf-viewer>
 -->

<p-button
  (click)="createPdf()"
  label="hola"
>
  
</p-button>
