<div class="grid">
  <div class="col-12">
    <div class="p-card p-4">
      <h2 class="m-0">Listado de Tutores</h2>

      <div class="flex justify-content-end w-full mb-2">
        <button
          pButton
          pRipple
          icon="pi pi-plus"
          class="p-button-success"
          type="button"
          label="Agregar"
          (click)="openModelCreate()"
        ></button>
      </div>
      <form [formGroup]="formSearch" (ngSubmit)="search()" class="grid">
        <div class="col-3">
          <input
            pInputText
            placeholder="Identificación"
            class="w-full"
            formControlName="identification"
          />
        </div>
        <div class="col-3">
          <input
            pInputText
            placeholder="Nombre"
            class="w-full"
            formControlName="name"
          />
        </div>
        <div class="col-3">
          <input
            pInputText
            placeholder="Correo electrónico"
            class="w-full"
            formControlName="email"
          />
        </div>
        <div class="col-3">
          <button
            pButton
            pRipple
            icon="pi pi-search"
            class="w-full"
            type="submit"
            label="Buscar"
          ></button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-12">
    <div class="p-card p-4">
      <p-table
        [value]="tutor"
        [loading]="loading"
        [scrollable]="true"
        [rowHover]="true"
        [rows]="10"
        [paginator]="true"
        [showCurrentPageReport]="true"
        [totalRecords]="tutor.length / 10"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="w-auto"></th>
            <th style="min-width: 4rem">
              <div
                pSortableColumn="dni"
                class="flex justify-content-between align-items-center"
              >
                Identificación
                <p-sortIcon field="dni"></p-sortIcon>
              </div>
            </th>
            <th style="min-width: 4rem">
              <div
                pSortableColumn="completeNames"
                class="flex justify-content-between align-items-center"
              >
                Nombre
                <p-sortIcon field="completeNames"></p-sortIcon>
              </div>
            </th>
            <th style="min-width: 4rem">
              <div
                pSortableColumn="email"
                class="flex justify-content-between align-items-center"
              >
                Correo electrónico
                <p-sortIcon field="email"></p-sortIcon>
              </div>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-tutor>
          <tr>
            <td class="w-auto flex gap-2">
              <button
                pButton
                pRipple
                icon="pi pi-eye"
                class="p-button-outlined p-button-secondary"
                type="button"
                (click)="openModalDetail(tutor)"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="confirm(tutor)"
                type="button"
              ></button>
            </td>
            <td style="min-width: 4rem">
              {{ tutor.dni }}
            </td>
            <td style="min-width: 4rem">
              {{ tutor.firstName }} {{ tutor.lastName }}
            </td>
            <td style="min-width: 4rem">
              {{ tutor.email }}
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="9" class="text-center text-red-500">
              Tutores no encontrados.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-confirmDialog
  header="Confirmación"
  position="center"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>

<p-dialog
  header="Tutores"
  [(visible)]="displayDetail"
  [modal]="true"
  [style]="{ width: '40vw' }"
  (onHide)="hiddenModalDetail()"
>
  <div class="p-2">
    <form
      [formGroup]="formTutor"
      class="flex flex-column gap-2"
      (ngSubmit)="saveTutor()"
    >
      <div class="flex gap-2">
        <div class="flex flex-column gap-2 w-6">
          <label for="dni" class="obligatory">Identificación</label>
          <input
            pInputText
            id="dni"
            type="text"
            formControlName="dni"
            pKeyFilter="int"
            required
            [ngClass]="{
              'is-invalid': f['dni'].errors
            }"
          />
        </div>
        <div class="flex flex-column gap-2 w-6">
          <label for="firstName" class="obligatory">Nombre</label>
          <input
            pInputText
            id="firstName"
            type="text"
            formControlName="firstName"
            required
            [ngClass]="{
              'is-invalid': f['firstName'].errors
            }"
          />
        </div>
      </div>
      <div class="flex gap-2">
        <div class="flex flex-column gap-2 w-6">
          <label for="lastName" class="obligatory">Apellido</label>
          <input
            pInputText
            id="lastName"
            type="text"
            formControlName="lastName"
            required
            [ngClass]="{
              'is-invalid': f['lastName'].errors
            }"
          />
        </div>
        <div class="flex flex-column gap-2 w-6">
          <label for="email" class="obligatory">Correo electrónico</label>
          <input
            pInputText
            id="email"
            type="text"
            formControlName="email"
            required
            [ngClass]="{
              'is-invalid': f['email'].errors
            }"
          />
        </div>
      </div>

      <div class="flex w-full justify-content-evenly p-4 gap-2">
        <button
          *ngIf="hasData"
          pButton
          pRipple
          label="Editar"
          class="p-button-info w-4"
          type="button"
          (click)="editTutor()"
        ></button>
        <button
          *ngIf="!hasData && selected"
          pButton
          pRipple
          label="Cancelar"
          class="p-button-help w-4"
          type="button"
          (click)="cancelEdit()"
        ></button>
        <button
          *ngIf="!hasData"
          pButton
          pRipple
          label="Guardar"
          class="p-button-raised p-button-success w-3"
          [disabled]="formTutor.invalid"
          type="submit"
        ></button>
      </div>
    </form>
  </div>
</p-dialog>
